<ui-view ng-controller="myplan">
    <style>
            .spinner svg {
                width: 38px;
                height: 38px;
                stroke: green;
                fill: green;
            }
            .myplan .item {
                border: none;
            }
            .yyyy {
                display: inline-block;
                height: 1px;
                width: 25%;
                border-bottom: 1px solid rgba(204, 204, 204, 0.4);
            }
    </style>
    <div class="myplan">
        <ion-content style="background-color: #E7E7E7;">

                    <!-- 下拉刷新 -->
                    <ion-refresher pulling-text="下拉刷新" pulling-icon="ion-ios-arrow-thin-down" on-refresh="doRefreshTicket()" spinner="lines"></ion-refresher>

                    <!-- 过滤器  -->
                    <div class="ticketFilter">

                        <div class="row">

                            <div class="col">
                                <label class="item item-radio">
                                    <input type="radio" name="group" ng-model="q" checked="checked">
                                    <div class="radio-content">
                                        <div class="item-content">
                                            全部
                                        </div>
                                    </div>
                                </label>
                            </div>
                        
                            <div class="col">
                                <label class="item item-radio">
                                    <input type="radio" name="group" ng-model="q"  value="2" checked="checked">
                                    <div class="radio-content">
                                        <div class="item-content">
                                            未使用
                                        </div>
                                    </div>
                                </label>
                            </div>
                        
                            <div class="col">
                                <label class="item item-radio">
                                    <input type="radio" name="group" ng-model="q"  value="4" checked="checked">
                                    <div class="radio-content">
                                        <div class="item-content">
                                            退款中
                                        </div>
                                        <!-- <i class="radio-icon ion-ios-checkmark" style="color:#E91E63"></i> -->
                                    </div>
                                </label>
                            </div>

                        </div>

                    </div>

                    <!-- 有票 -->
                    <ion-list ng-if="!ticketsInfoIsEmpty">

                        <!-- 车票 -->
                        <ion-item class="animate-repeat" ng-repeat="item in ticketsInfo  | filter: {viewOrderStatus:q} as results" ng-switch="item.viewOrderStatus">

                            <!-- 2 未使用  -->
                            <div class="detail" ng-switch-when="2">
                                    
                                <div class="row startposition">
                                        <div class="col">
                                            <span class="station-mark-orange" style="margin-left: 10px;">车票</span>
                                            <span class="station-address">{{item.departName}}</span>
                                            <span class="station-arrow"></span>
                                            <span class="station-address2">{{item.arriveName}}</span>
                                        </div>
                                </div>
                                
                                <div class="row info " style="padding-left: 8px;">
                                        
                                    <div class="col" style="margin-left: 10px;">

                                        <span>
                                            <div class="btnfont" style="color: #0c60ee;">{{item.platenum}}</div>
                                        </span>

                                        <span class="btnfont5">
                                            单程约{{item.drivetime}}分钟
                                        </span>     

                                    </div>

                                </div>

                                <div class="row refund">
                                        <div class="col col-70">
                                            <div style="margin: 0 0 8px 8px;white-space: normal;" >发车地点: {{item.departaddr}}</div>
                                            <div style="margin: 0 0 -8px 8px;white-space: normal;" >出发日期: {{item.departDate | date:'yyyy-MM-dd'}} {{item.departTime}}</div>
                                        </div>
                                </div>
                                
                                <div class="row" >
                                    <div class="col col-center col-33" style="color: #a2a2a2;">
                                        <span style="margin-left: 10px;">未使用</span>
                                    </div>
                                    <div class="col col-66" style="text-align: right;">
                                        <button class="button button-clear" style="margin-right: 20px;font-size: 18px;color: #f78304;" ng-click="unusedTicketToDetail(item, i)">
                                            详情
                                        </button>
                                    </div>
                                </div> 
                            </div>

                            <!-- 3 已使用-->
                            <div class="detail" ng-switch-when="3">
                                    
                                <div class="row startposition">
                                        <div class="col">
                                            <span class="station-mark-orange" style="margin-left: 10px;">车票</span>
                                            <span class="station-address">{{item.departName}}</span>
                                            <span class="station-arrow"></span>
                                            <span class="station-address2">{{item.arriveName}}</span>
                                        </div>
                                </div>
                                
                                <div class="row info " style="padding-left: 8px;">
                                        
                                    <div class="col" style="margin-left: 10px;">

                                        <span>
                                            <div class="btnfont" style="color: #0c60ee;">{{item.platenum}}</div>
                                        </span>

                                        <span class="btnfont5">
                                            单程约{{item.drivetime}}分钟
                                        </span>     

                                    </div>

                                </div>

                                <div class="row refund">
                                        <div class="col col-70">
                                            <div style="margin: 0 0 8px 8px;white-space: normal;" >发车地点: {{item.departaddr}}</div>
                                            <div style="margin: 0 0 -8px 8px;white-space: normal;" >出发日期: {{item.departDate | date:'yyyy-MM-dd'}} {{item.departTime}}</div>
                                        </div>
                                </div>
                                
                                <div class="row" >
                                    <div class="col col-33 col-center" style="color: #a2a2a2;">
                                        <span style="margin-left: 10px;">已使用（待评论）</span>
                                    </div>
                                    <div class="col col-66" style="text-align: right;">
                                        <button class="button button-clear" style="margin-right: 20px;font-size: 18px;color: #f78304;" ng-click="usedTicketToComment(item, i)">
                                            <span ng-if="item.orderhie == null">评论</span>
                                            <span ng-if="item.orderhie != null">详情</span>
                                        </button>
                                    </div>
                                </div> 
                            </div>

                            <!-- 4 退款中 -->
                            <div class="detail" ng-switch-when="4">
                                    
                                <div class="row startposition">
                                        <div class="col">
                                            <span class="station-mark-orange" style="margin-left: 10px;">车票</span>
                                            <span class="station-address">{{item.departName}}</span>
                                            <span class="station-arrow"></span>
                                            <span class="station-address2">{{item.arriveName}}</span>
                                        </div>
                                </div>
                                
                                <div class="row info " style="padding-left: 8px;">
                                        
                                    <div class="col" style="margin-left: 10px;">

                                        <span>
                                            <div class="btnfont" style="color: #0c60ee;">{{item.platenum}}</div>
                                        </span>

                                        <span class="btnfont5">
                                            单程约{{item.drivetime}}分钟
                                        </span>     

                                    </div>

                                </div>

                                <div class="row refund">
                                        <div class="col col-70">
                                            <div style="margin: 0 0 8px 8px;white-space: normal;" >发车地点: {{item.departaddr}}</div>
                                            <div style="margin: 0 0 -8px 8px;white-space: normal;" >出发日期: {{item.departDate | date:'yyyy-MM-dd'}} {{item.departTime}}</div>
                                        </div>
                                </div>
                                
                                <div class="row" >
                                    <div class="col col-33 col-center" style="color: #a2a2a2;">
                                        <span style="margin-left: 10px;">正在退款中</span>
                                    </div>
                                    <div class="col col-66" style="text-align: right;">
                                        <button class="button button-clear" style="margin-right: 20px;font-size: 18px;color: #f78304;" ng-click="refundingToRefund(item, i)">
                                            详情
                                        </button>
                                    </div>
                                </div> 
                            </div>

                            <!-- 5 已退款  -->
                            <div class="detail" ng-switch-when="5">
                                    
                                <div class="row startposition">
                                        <div class="col">
                                            <span class="station-mark-orange" style="margin-left: 10px;">车票</span>
                                            <span class="station-address">{{item.departName}}</span>
                                            <span class="station-arrow"></span>
                                            <span class="station-address2">{{item.arriveName}}</span>
                                        </div>
                                </div>
                                
                                <div class="row info " style="padding-left: 8px;">
                                        
                                    <div class="col" style="margin-left: 10px;">

                                        <span>
                                            <div class="btnfont" style="color: #0c60ee;">{{item.platenum}}</div>
                                        </span>

                                        <span class="btnfont5">
                                            单程约{{item.drivetime}}分钟
                                        </span>     

                                    </div>

                                </div>

                                <div class="row refund">
                                        <div class="col col-70">
                                            <div style="margin: 0 0 8px 8px;white-space: normal;" >发车地点: {{item.departaddr}}</div>
                                            <div style="margin: 0 0 -8px 8px;white-space: normal;" >出发日期: {{item.departDate | date:'yyyy-MM-dd'}} {{item.departTime}}</div>
                                        </div>
                                </div>
                                
                                <div class="row" >
                                    <div class="col col-33 col-center" style="color: #a2a2a2;">
                                        <span style="margin-left: 10px;">已退款 ￥{{item.payPrice}}</span>
                                    </div>
                                    <div class="col col-66" style="text-align: right;">
                                        <button class="button button-clear" style="margin-right: 20px;font-size: 18px;color: rgba(255, 255, 255, 0);">
                                            详情
                                        </button>
                                    </div>
                                </div> 

                            </div>
                            
                        </ion-item>

                        <!-- 门票 -->
                        <ion-item ng-repeat="item in ticketsViewInfo track by $index">

                        </ion-item>
                        <!-- 无相关票提醒 -->
                        <ion-item class="animate-repeat" ng-if="results.length === 0">
                            
                            <!-- 没有相关票据信息 -->
                            <div class="detail">
                                <div class="row" style="text-align: center;font-size: 18px;">
                                    <div class="col">
                                        <i class="icon ion-ios-information-outline" style="color:crimson;font-size: 14px;"></i>
                                        <span style="font-size: 12px;">没有相关票据信息</span>
                                    </div>
                                </div> 
                            </div>
                        </ion-item>

                        <div class="myplan-placeholder" style=" width: 100%; height: 45px; text-align: center; padding: 5px;" >
                            <span class="yyyy"></span>
                            <span ng-if="!hasmore2" style="line-height: 2; color: #a2a2a2;">我是有底线的</span>
                            <span class="yyyy"></span>
                        </div>

                    </ion-list>

                    <!-- 无票 -->
                    <ion-list ng-if="ticketsInfoIsEmpty">
                            <!-- 无票提醒 -->
                            <ion-item class="animate-repeat">
                                <!-- 没有任何票据信息 -->
                                <div class="detail">
                                        <div class="row" style="text-align: center;font-size: 18px;">
                                            <div class="col">
                                                <i class="icon ion-ios-information" style="color:crimson;font-size: 14px;"></i>
                                                <span style="font-size: 12px;">暂时没有相关内容</span>
                                            </div>
                                        </div> 
                                </div>
                            </ion-item>

                            <!-- 测试 -->
                            <!-- <ion-item>
                                <div class="detail">

                                        <div class="row startposition">
                                                <div class="col">
                                                    <span class="station-mark-orange" style="margin-left: 10px;">车票</span>
                                                    <span class="station-address">贵州饭店</span>
                                                    <span class="station-arrow"></span>
                                                    <span class="station-address2">青岩古镇</span>
                                                </div>
                                        </div>
                                        
                                        <div class="row info " style="padding-left: 8px;">
                                                
                                            <div class="col" style="margin-left: 10px;">
    
                                                <span>
                                                    <div class="btnfont" style="color: #0c60ee;">贵AH4M22</div>
                                                </span>

                                                <span class="btnfont5">
                                                    单程约30分钟
                                                </span>     

                                            </div>
    
                                        </div>

                                        <div class="row refund">
                                                <div class="col col-70">
                                                    <div style="margin: 0 0 8px 8px;white-space: normal;" >发车地点: AAAAA</div>
                                                    <div style="margin: 0 0 8px 8px;white-space: normal;" >出发日期: 2017-12-01 8:00</div>
                                                </div>
                                        </div>
                                        
                                        <div class="row" >
                                            <div class="col col-33" style="line-height: 2.5;color: #a2a2a2;">
                                                <span style="margin-left: 10px;">未使用</span>
                                            </div>
                                            <div class="col col-66" style="text-align: right;">
                                                <button class="button button-clear" style="margin-right: 20px;font-size: 18px;color: #f78304;">
                                                    测试详情
                                                </button>
                                            </div>
                                        </div> 
                                </div>
                            </ion-item>

                            <ion-item>
                                <div class="detail">

                                        <div class="row startposition">
                                                <div class="col">
                                                    <span class="station-mark-blue" style="margin-left: 10px;">门票</span>
                                                    <span class="station-address">青岩古镇</span>
                                                </div>
                                        </div>
                                        
                                        <div class="row info " style="padding-left: 8px;">
                                                
                                            <div class="col" style="margin-left: 10px;">
    
                                                <span>
                                                    有效期：2017-12-01
                                                </span>    

                                            </div>
    
                                        </div>

                                        <div class="row refund">
                                                <div class="col col-70">
                                                    <div style="margin: 0 0 8px 8px;white-space: normal;" >景点地点: AAAAA</div>
                                                    <div style="margin: 0 0 8px 8px;white-space: normal;" >景区简介: NNNNJDNL</div>
                                                </div>
                                        </div>
                                        
                                        <div class="row" >
                                            <div class="col col-33" style="line-height: 2.5;color: #a2a2a2;">
                                                <span style="margin-left: 10px;">未使用</span>
                                            </div>
                                            <div class="col col-66" style="text-align: right;">
                                                <button class="button button-clear" style="margin-right: 20px;font-size: 18px;color: #f78304;">
                                                    测试详情
                                                </button>
                                            </div>
                                        </div> 
                                </div>
                            </ion-item> -->
                            
                    </ion-list>

                    <!-- 上拉加载 -->
                    <ion-infinite-scroll ng-if="hasmore2" on-infinite="loadMoreTicket()" distance="5%" spinner="dots"></ion-infinite-scroll>

                </ion-content>
    </div>

</ui-view>